<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.example.playerjava.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayerJava"
        tools:targetApi="31" >
        <activity
            android:exported="true"
            android:name="com.example.playerjava.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screens.main.MainActivityNotes"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name="com.example.playerjava.screens.details.NoteDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".AlarmActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".MainActivityArticles"/>
        <activity android:name=".articles.Articl1"/>
        <activity android:name=".articles.Articl2"/>
        <activity android:name=".articles.Articl3"/>
        <activity android:name=".articles.Articl4"/>
        <activity android:name=".articles.Articl5"/>
        <activity android:name=".articles.Articl6"/>
        <activity android:name=".articles.Articl7"/>
        <activity android:name=".articles.Articl8"/>
        <activity android:name=".articles.Articl9"/>
        <activity android:name=".articles.Articl10"/>
    </application>


</manifest>